.chat_cont {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat_header_data_cont {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px 0;
}

.chat_rooname {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: whitesmoke;
}

.chat_body_cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}

.chat_user_body {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.chat_other_body {
  flex-direction: row;
}

.chat_my_body {
  flex-direction: row-reverse;
}

.user_image {
  border: 1px solid red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;
}

.user_body_data_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.other_data {
  justify-content: flex-start;
}

.my_data {
  justify-content: flex-end;
}

.user_name {
  color: whitesmoke;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.user_date {
  color: gray;
  font-size: 16px;
  text-transform: capitalize;
}

.user_message {
  font-size: 18px;
  width: 700px;
  max-width: 700px;
  word-break: keep-all;
  text-align: start;
  padding: 10px;
}

.other_message {
  border-radius: 0 10px 10px 10px;
  background-color: whitesmoke;
  color: black;
}

.my_message {
  border-radius: 10px 0 10px 10px;
  background-color: rgb(18, 18, 18);
  color: whitesmoke;
}

.chat_input_message {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.message_input {
  width: 800px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  padding: 5px;
  font-size: 18px;
}

.message_emoji_picker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.message_emoji_picker:hover {
  background-color: rgb(18, 18, 18);
}

.message_emojis {
  position: absolute;
  right: 0;
  bottom: 80px;
  width: min-content;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.emojis_close {
  color: whitesmoke;
  filter: invert(1);
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
}

.emojis_close:hover {
  background-color: whitesmoke;
}

@media only screen and (max-width: 1024px) {
  .chat_cont {
    padding: 0;
  }

  .user_message {
    width: 250px;
  }

  .chat_body_cont {
    gap: 20px;
  }

  .message_emojis {
    bottom: 80px;
  }
}
