.chat_cont {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat_header_data_cont {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px 0;
}

.chat_rooname {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: whitesmoke;
}

.chat_body_cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}

.chat_input_message {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.message_input {
  width: 800px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  padding: 5px;
  font-size: 18px;
}

.message_emoji_picker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.message_emoji_picker:hover {
  background-color: rgb(18, 18, 18);
}

.message_emojis {
  position: absolute;
  right: 0;
  bottom: 80px;
  width: min-content;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
}

.emojis_close {
  color: whitesmoke;
  filter: invert(1);
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
}

.emojis_close:hover {
  background-color: whitesmoke;
}

@media only screen and (max-width: 1024px) {
  .chat_cont {
    padding: 0;
  }

  .message_emojis {
    bottom: 80px;
  }
}
