.create_room_cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 70px 0;
}

.form_input_cont {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_input {
  border: 1px solid whitesmoke;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 20px 10px;
  font-size: 16px;
}

.input_error {
  width: 100%;
  word-break: keep-all;
  color: crimson;
  font-size: 14px;
  text-align: start;
}

.form_textarea {
  border: 1px solid whitesmoke;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 20px 10px;
  font-size: 20px;
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
}

.form_submit {
  border: 1px solid whitesmoke;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 10px;
  font-size: 18px;
  background-color: cornflowerblue;
  color: whitesmoke;
  cursor: pointer;
}

.form_title {
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .signin_cont {
    height: max-content;
    padding: 80px 0;
  }

  .form_input_cont {
    width: 90%;
  }

  .form_input {
    font-size: 20px;
  }

  .form_textarea {
    min-height: 200px;
    max-height: 400px;
  }

  .form_submit {
    font-size: 20px;
    width: 90%;
  }
}
